.menu-divider {
  margin: 0
}

.create-sidebar .ant-menu .ant-menu-item-group .ant-menu-item-group-title {
  padding: 16px 20px 8px;
}

.create-sidebar .ant-menu .ant-menu-item-group .ant-menu-item {
  padding: 0 12px;
  line-height: 36px;
  height: 36px;
  margin: 0 8px 4px 8px;
  width: calc(100% - 16px);
}