.header-menu::before {
  content: none;
}

.ant-menu-horizontal,
.ant-menu-item::after,
.ant-menu-submenu::after {
  border: none !important;
}

.ant-menu-item-selected {
  color: rgb(255, 42, 0) !important;
}
