.header-menu::before {
  content: none;
}

.ant-menu-horizontal,
.ant-menu-item::after,
.ant-menu-submenu::after {
  border: none !important;
}

.ant-menu-item-selected {
  color: rgb(255, 42, 0) !important;
}

.header-style {
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.03), 
    0 1px 6px -1px rgba(0, 0, 0, 0.02), 
    0 2px 4px 0 rgba(0, 0, 0, 0.02);
  opacity: "0.88";
}

.header-row {
  align-items: center;
}

.app-link {
  display: flex;
}