@import url("https://fonts.googleapis.com/css2?family=Anek+Devanagari:wght@600;800&display=swap");

body {
  margin: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #dedede;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.ant-btn-primary {
  background-image: radial-gradient(
    rgb(255, 81, 47) 0%,
    rgb(238, 132, 80) 99%,
    rgb(236, 74, 9) 100%
  );
  transition: 0.3s;
  &:hover {
    opacity: 70%;
  }
  &:disabled {
    background-image: none;
  }
}
.ant-card-head-title {
  text-overflow: unset !important;
  white-space: unset !important;
}

.form-details {
  display: flex;
  align-items: center;
  text-align: center;
  flex-direction: column;
  word-break: break-all;
}

.ant-modal-mask {
  backdrop-filter: blur(30px);
}

.ant-dropdown-menu {
  max-height: 250px;
  overflow-y: scroll;
}
